.about {
  display: flex;
  justify-content: center;
}

.about-greet {
  font-size: 64px;
  margin: 0;
  margin-top: 15px;
}

.bio {
  display: flex;
}

.about-icons {
  margin-left: 2em;
}

.about-icon {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 1em;
}
.about-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.about-href{
    margin: 0;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 5em;
}

/* .about-column {
  display: inline-block;
} */

.about-bio {
  font-size: 18px;
  width: 639px;
  color: #8b8c8d;
}
