nav {
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #8b8c8d;
  font-size: 24px;
  margin: 25px;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #ffffff;
}
.nav-link:focus {
  color: #8b8c8d;
  text-decoration: none;
}
