.project-container {
  width: 1000px;
  min-height: 230px;
  border-radius: 20px;
  margin: 1em;
  background-color: #4e4e4e;
  display: flex;
  justify-content: start;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.tags-container {
  display: flex;
  justify-content: start;
}

img {
  width: 400px;
  height: 198px;
  border-radius: 20px;
  margin-left: 1em;
  margin-top: 1em;
}

.project-desc {
    min-width: 370px;
}

.project-date-created {
  font-size: small;
  font-weight: lighter;
  color: white;
  font-style: italic;
}

.links {
  display: flex;
  justify-content: end;
  position: relative;
  transform: translateY(11em) translateX(-1em);
}

a {
  margin: 0;
  margin-left: 1em;
}

.demo-button {
  width: 80px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f49d11;
}
.demo-button:hover {
  transform: scale(1.1);
}

.demo-button > span {
  color: white;
}

.hide {
  visibility: hidden;
}

img.github {
  width: 35px;
  height: 35px;
  display: block;
  margin: 0;
}
img.github:hover {
  transform: scale(1.1);
}

p {
  color: #ffffff;
}
