.social-container {
  display: inline-block;
  width: 180px;
  height: 36px;
  -webkit-perspective: 300px;
  perspective: 300px;
  font-size: 24px;
  margin-right: 8px;
}
.social-container .social-cube {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.333s;
  -webkit-transform: translateZ(-18px);
  transform: translateZ(-18px);
}
.social-container .social-cube .front,
.social-container .social-cube .bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.social-container .social-cube .front {
  -webkit-transform: rotateX(0deg) translateZ(18px);
  transform: rotateX(0deg) translateZ(18px);
}
.social-container .social-cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(18px);
  transform: rotateX(-90deg) translateZ(18px);
}
.social-container:hover .social-cube {
  -webkit-transform: translateZ(-18px) rotateX(90deg);
  transform: translateZ(-18px) rotateX(90deg);
}

.social-container.github .social-cube .front {
  background: #9b59b6;
}

.social-container.github .social-cube .bottom {
  background: #8e44ad;
}

.social-container.github:hover .social-cube .front {
  background: #9b59b6;
}

.social-container.github:hover .social-cube .bottom {
  background: #8e44ad;
}

.social-container.linkedin .social-cube .front {
  background: #0064bf;
}

.social-container.linkedin .social-cube .bottom {
  background: #0056a1;
}

.social-container.linkedin:hover .social-cube .front {
  background: #0064bf;
}

.social-container.linkedin:hover .social-cube .bottom {
  background: #0056a1;
}
