.home-content {
  display: flex;
  justify-content: center;
}

.container {

  display: flex;
}

.column {
  margin-right: 2em;
}

.greet {
  color: #ffffff;
  font-size: 64px;
  margin: 0;
  margin-top: 15px;
}

.description {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
  font-size: 30px;
  color: #8b8c8d;
  width: 556px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 90px;
}
